@media (max-width: 1400px) {
    .container {
        // max-width: 1100px
        width: 96%;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px
    }
    .call {
        display: none;
    }

    body {
        overflow-x: hidden;
    }

    .nav {
        gap: 30px;
    }

    .bg__buildings {
        right: -280px;
    }

    .request-left {
        max-width: 450px;
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 800px;
        width: 92%;
    }

    .nav {
        display: none;
    }

    .title {
        text-align: center;
        margin-bottom: 30px;
    }

    .background-fill {
        height: 1200px;
        top: -5%;
    }

    .request {
        &-content {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
        &-text {
            text-align: center;
        }
        &-description {
            text-align: center;
        }
    }

    .contacts-buttons {
        align-items: center;
        justify-content: center;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;

        &::before {
            content: '';
            background-color: $primary;
            position: absolute;
            width: 100%;
            height: 4px;
            border-radius: 10px;
            left: 0;
            top: 0;
            transition: all .3s ease-in-out;
        }

        &::after {
            content: '';
            background-color: $primary;
            position: absolute;
            width: 100%;
            height: 4px;
            border-radius: 10px;
            left: 0;
            bottom: 0;
            transition: all .3s ease-in-out;
        }

        &.active::before {
            transform: rotate(45deg);
            top: 8px;
        }

        &.active::after {
            transform: rotate(-45deg);
            bottom: 8px;
        }

    }

    .burger__overlay {
        margin-top: 20px;
        position: absolute;
        background: #F2FAFE;
        box-shadow: 0px 0px 100px 0px rgba(34, 60, 80, 0.1);
        right: 0;
        width: 200px;
        z-index: 1;
        border-radius: 16px;
        display: block;
        padding: 30px 20px;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        &.active {
            opacity: 1;
        }
    }

    .nav {
        &__link {
            font-size: 18px;
            text-align:end;
        }
        &__burger {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        &__item {
            text-align: end;
        }
    }
    
    .bg__buildings {
        display: none;
    }

    .header {
        margin-bottom: 80px;
    }

    .hero {
        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            font-size: 60px;
            text-align: center;
        }
        margin-bottom: 100px;
    }
    
    .header__span {
        position: absolute;
        background-color: $primary;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        top: 8px;
        transition: all .3s ease-in-out;

        &.active {
            transform: scale(0);
        }
    }
    .about__image {
        order: 1;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-text {
        text-align: center;
        font-size: 16px;
    }

    .about {
        margin-bottom: 100px;
    }

    .counters {
        margin-bottom: 100px;
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
        width: 92%;
    }

    .hero__description {
        text-align: center;
        margin: 0;
    }

    .content-text {
        text-align: center;
    }

    .counter {
        &__value {
            font-size: 40px;
            line-height: 55px;
        }
        &__description {
            font-size: 15px;
            max-width: 180px;
            line-height: 20px;
        }
    }
    .advantages {
        &-content {
          justify-content: center;
          gap: 30px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 400px;
        width: 90%;
    }

    .get2 {
        display: none;
    }

    .hero__title {
        font-size: 40px;
        line-height: 50px;
    }

    .button {
        font-size: 14px;
    }

    .title {
        font-size: 30px;
        line-height: 26px;
    }

    .form {
        margin-top: 30px;
        width: 100%;
    }

    .button {
        font-size: 12px;
        &-primary {
            padding: 12px 18px;
        }

        &-secondary::before {
            width: 38px;
            height: 38px;
        }
    }


    input {
        width: 100%;
    }

    .counters-content {
        flex-direction: column;
        gap: 30px;
    }

    .background-fill {
        height: 1250px;
        top: -5%;
    }

    .counter {

        &__description {
            font-size: 14px;
        }
    }
}   


@media (max-width: 336px) {
    .container {
        max-width: 300px;
        width: 90%;
    }

    .button {
        font-size: 12px;
        &-primary {
            padding: 10px 10px;
        }
    }

    .hero__title {
        font-size: 34px;
        line-height: 40px;
    }

}